index page
%a{:href => "/", :class => "fancy-button1"} fancy
%a{:href => "/", :class => "fancy-button2"} fancy
%a{:href => "/", :class => "fancy-button3"} fancy
%a{:href => "/", :class => "fancy-button4"} fancy
%a{:href => "/", :class => "fancy-button5"} fancy
%a{:href => "/", :class => "fancy-button6"} fancy
%a{:href => "/", :class => "fancy-button7"} fancy